.avatarImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarImage.clickable {
  cursor: pointer;
}

.avatarText {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: Moderat, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.avatarText.clickable {
  cursor: pointer;
}
