@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.groupLabel {
  font-size: 1rem;
  font-family: Moderat, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
  color: var(--color-primary);
}
