.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  height: 2.5rem;
  font-family: var(--primary-body-font, Moderat, sans-serif);
}

.button.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.button.secondary {
  background-color: transparent;
  color: color-mix(in srgb, var(--color-primary) 100%, white 60%);
  border: 0.125rem solid var(--color-primary);
}

.button.tertiary {
  background-color: transparent;
  color: color-mix(in srgb, var(--color-primary) 100%, white 60%);
  border: none;
}

.button.error {
  background-color: var(--color-error);
  color: var(--color-white);
  border: none;
}

.button.warning {
  background-color: var(--color-warning);
  color: var(--color-black);
  border: none;
}

.button.success {
  background-color: var(--color-success);
  color: var(--color-white);
  border: none;
}

.button.info {
  background-color: var(--color-info);
  color: var(--color-white);
  border: none;
}

.button:disabled {
  background-color: var(--color-disabled-bg);
  color: var(--color-muted);
  cursor: not-allowed;
}

.button.iconOnly {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  line-height: 1;
}

.icon {
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.button.iconOnly .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.icon svg {
  display: inline-block;
  vertical-align: middle;
}

.endIcon {
  margin-left: 0.5rem;
}

.button > :not(:last-child):is(svg, .icon) + .text {
  margin-left: 0.5rem; /* Add padding between icon and text */
}

.button > .text + :is(svg, .endIcon) {
  margin-left: 0.5rem; /* Add padding between text and icon when icon is on the right */
}

.button > .text + .icon {
  margin-left: 0.5rem; /* Add padding between text and icon when icon appears after the text */
}

.button.s {
  font-size: 0.875rem;
  padding: var(--space-internal-4) var(--space-internal-12);
  height: 1.5rem;
}

.button.m {
  font-size: 1rem;
  padding: var(--space-internal-8) var(--space-internal-16);
  height: 2.5rem;
}

.button.l {
  font-size: 1.125rem;
  padding: var(--space-internal-12) var(--space-internal-24);
  height: 3rem;
}

.button.s.iconOnly {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  padding: 0;
}

.button.m.iconOnly {
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  padding: 0;
}

.button.l.iconOnly {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  padding: 0;
}

.button.s.iconOnly .icon svg {
  font-size: 0.75rem;
}

.button.l.iconOnly .icon svg {
  font-size: 1.25rem;
}
