.blogNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 1rem;
}

.rightNavGroup {
  display: flex;
  gap: 0.5rem;
}

.hrLine {
  border: none;
  border-top: 2px solid var(--color-primary);
  margin: 1.5rem 0 2rem;
}
