@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.contactForm {
  width: 450px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--color-light-bg);
  border: 2px solid var(--color-primary);
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.formGroup {
  margin-block: 0.5rem;
  width: 100%;
}

.privacyPolicy {
  font-size: 0.875rem;
  color: var(--color-primary);
  text-align: center;
  margin-block-end: 1.2rem;
}

.privacyPolicy a {
  color: var(--color-primary);
  text-decoration: none;
}

.privacyPolicy a:hover {
  text-decoration: underline;
}

.formGroup:last-child {
  margin-block-end: 0;
}

label {
  font-family: var(--primary-body-font, sans-serif);
  text-align: left;
  justify-content: flex-start;
}
