@import url("../../styles/variables.css");
@import url("../../styles/fonts.css");

.label {
  font-size: 1rem; /* 16px */
  font-family: Moderat, sans-serif;
  display: flex;
  align-items: center;
  gap: 0.25rem; /* 8px */
  color: var(--color-primary);
}

.label.disabled {
  color: var(--color-muted-light);
  cursor: not-allowed;
}

.required {
  color: var(--color-error);
}

.tooltip {
  font-size: 0.875rem; /* 14px */
  color: var(--color-muted);
  margin-left: 0.5rem; /* 8px */
}
