.card {
  display: flex;
  background: var(--color-light-bg, #f9f9f9);
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  padding: 1.5rem;
  text-decoration: none;
  color: inherit;
  justify-content: space-between;
  transition: box-shadow 0.2s, background 0.2s;
  flex-direction: column;
  border: 2px solid var(--color-primary);
  block-size: 200px;
}

.cardHover {
  box-shadow: 0 4px 16px rgb(0 0 0 / 12%);
  background: var(--color-white);
  filter: brightness(120%);
}

.cardFocus {
  outline: 3px solid var(--color-primary);
  outline-offset: -3px;
}

.title {
  color: var(--primary-text-color, #00f);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--primary-heading-font, serif);
  line-height: 1.5;
  margin: 0 0 0.5rem;
  max-lines: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lead {
  font-family: var(--primary-body-font, sans-serif);
  font-size: 1.1rem;
  color: var(--primary-text-color, #00f);
  margin-block-end: 1rem;
  margin: 0 0 1rem;
  max-lines: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.meta {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-family: var(--font-text);
  color: var(--primary-text-color, #00f);
  align-items: center;
  justify-content: space-between;
  margin-block-start: auto;
}

.meta span {
  font-family: var(--primary-body-font);
  font-weight: 600;
}

.readTime {
  font-weight: 600;
}

.readMore {
  color: var(--color-primary, #00f);
  font-weight: 600;
  text-decoration: underline;
}
